.container {
    margin: 20px auto;
    width: 960px;
}
th {
    text-align: left;
}
h2{
    text-align: center;
}
#question-view {
    width: 960px;
    height: 860px;
    margin: auto;
    margin-top:-20px;
    background-color: white;
}
#mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(37, 37, 37, .4);
    overflow: scroll;
}
#question-view > h2 {
    width: 100%;
    text-align: center;
    padding-top: 36px;
}
#submit-question {
    position: absolute;
    top: 250px;
    left: 653px;
}
.plus {
    width: 24px;
}
#question-view input {
    width: 300px;
    margin-left: 330px;
}
.plus {
    width: 24px;
    position: relative;
    top: 6px;
}
#add, #submit {
    margin-top: 25px;
}
#add {
    margin-left: 360px;
}
#title {
    margin-left: 374px;
}
.choice {
    margin-top: 38px;
}
.choice-head {
    margin-left: 329px;
    margin-bottom: 4px;
}