<div class="nav">
    <ul>
      <li><a href = '/profile'><%= User.find(session[:user_id]).email %> </a>
        <ul>
        <li><a href = '/logout'>Log out</a></li>
        </ul>
      </li>
    </ul>
  </div>

<div class="container">

<h2>What would you like to name your survey?</h2>
<input id='title' name='title' type='text'><br>
<div id="survey-buttons">
<button id='add'>Add a Question</button>
<button id='submit'>Submit Survey</button>
</div>



<script src='js/creation.js'></script>
<script src ="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>



<script src='js/viewFrames.js'></script>
<script type="text/template" class='template'>
 <div id='mask'>
   <div id='question-view'>
      <h2>Question</h2>
      <input id='question' type='text'>

      <button id='submit-question'>Add Me</button>
   </div>
 </div>
</script>



<script type="text/template" class='template2'>
      <div class='choice'>
        <p class='choice-head'>Choice <%%=v.num%></p>
        <input class='selection' type='text'>
        <%% if(v.button === true){%>
        <img src='plus.png' class='plus'></img>
        <%%}%>
      </div>
</script>

<script type="text/template" class="template3">
<p>Spread you survey with the following url:</p>
<h3>localhost:9393/survey/<%%=v.url%></h3>
<iframe id='viewFrame' src="<%%= v.url %>">
</iframe>
</script>
</div>

